@media (max-width: 479px){
/*.navbar-default{
	background: #19fe2f
}*/
.inputfile.replyfile + label {
    width: 100%;
    max-width: 100%;
    display: block;
    position: initial;
    margin-top: 10px;
}
.nav > li > a {
    padding: 43px 10px 35px 10px;
}
.ticket-submit-file .inputfile + label {
    max-width: 90%;
}
.style2 .ticket-submit-file .inputfile + label {
    max-width: 90%;
}
.style2 .google-recaptcha-init {
     padding-left: 0px; 
}
.g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.ticket-submit-file {
    height: 77px;
}

.common-answers{
	margin-top: 80px;
}

.ticket-form form .form-group {
    margin-bottom: 20px;
}
/*.navbar-default{
	min-height: 80px
}*/
.navbar-brand {
    height: 80px;
    padding: 24px 15px;
}
.navbar-toggle {
    margin-top: 23px;
}

.nav > li > a {
    padding: 10px 15px;
}
.heading-text h2 {
    font-size: 22px;
}
.heading-text p {
    font-size: 13px;
}
.ticket-form form .form-control {
    height: 50px;
    font-size: 14px;
    padding: 17px 20px;
}
.ticket-submit-file .inputfile + label {
    font-size: 15px;
    padding: 18px 20px 20px 20px;
    height: 60px;
}
.ticket-form form .btn-submit {
    font-size: 16px;
    padding: 17px 30px;
}
.container{
    padding: 15px;
}

.search-pblm form input[type=text] {
    padding: 15px 58px 15px 15px;
    height: 50px;
}
.search-pblm form button {
    right: 11px;
    top: 14px;
}
.content-area {
    margin-top: 10px;
}
.heading-text {
    margin-top: 20px;
}





}

@media (min-width: 480px) and (max-width: 767px){
/*.navbar-default{
}
.*/nav > li > a {
    padding: 43px 10px 35px 10px;
}
.ticket-submit-file .inputfile + label {
    max-width: 96%;
}
.ticket-submit-file {
    height: 77px;
}

.common-answers{
	margin-top: 80px;
}

.ticket-form form .form-group {
    margin-bottom: 20px;
}
/*.navbar-default{
	min-height: 80px
}*/
.navbar-brand {
    height: 80px;
    padding: 24px 15px;
}
.navbar-toggle {
    margin-top: 23px;
}

.nav > li > a {
    padding: 10px 15px;
}

}

@media (min-width: 768px) and (max-width: 979px){
/*.navbar-default{
	background: #e619fe
}*/
.nav > li > a {
    padding: 43px 10px 35px 10px;
}
.ticket-submit-file .inputfile + label {
    max-width: 96%;
}
.ticket-submit-file {
    height: 77px;
}

.common-answers{
	margin-top: 80px;
}

.ticket-form form .form-group {
    margin-bottom: 20px;
}

}

@media (min-width: 969px) and (max-width: 1169px){
/*.navbar-default{
	background: #7a19fe
}*/
}


@media (min-width: 1170px) and (max-width: 1469px){
/*.navbar-default{
	background: #1954fe
}*/


}

@media (min-width: 1470px) {
/*.navbar-default{
	background: #19b5fe
}*/

}

